body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background);
}
:root {
  --title-color: #2e2f42;
  --accent-color: #404bbf;
  --subtitle-text: #434455;
  --active-links: #4d5ae5;
  --white-background: #ffffff;
  --light-backgrounds: #f4f4fd;
  --text-color: #434455;
  --customers-icon: #8e8f99;
  --cheked: #404bbf;
}
.container {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
::after {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****************************holovna********************/
/***logo****/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.current {
  color: #404bbf;
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-container {
  display: flex;
}
/* .header-nav {
  display: flex;
  align-items: center;
}  */

.header-menu {
  display: none;
  gap: 40px;
}
/* .header-menu-item {
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
} */

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
  margin-right: 76px;
}
/* .header-menu-list {
  
}
.header-menu-item {
  
}
.header-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.header-menu-list:hover {
  color: #404bbf;
}
.header-menu-list:focus {
  color: #404bbf;
}
.header-logo :hover {
  color: var(--active-links);
}
.header-logo :focus {
  color: var(--active-links);
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}  */

/* .address {
  font-style: normal;
  margin-left: auto;
} */
.address-list {
  display: none;
  /* gap: 40px; */
}
/* .address-item {
}
.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;

  color: var(--subtitle-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
} */
.icon-hamburger {
  stroke: currentColor;
}
.open-menu-btn {
  margin-left: auto;
  border: none;
  background-color: #fff;
}
/*********mob-menu***********/
.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2;
  background-color: var(--white-background);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.mob-menu-nav {
  margin-bottom: auto;
}
.close-menu-btn {
  /* display: block; */
  margin-left: auto;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  /* color: var(--title-color);
  background-color: transparent; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 80%;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}
/* .link {
  text-transform: none;
} */
.mobi-link {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.mobi-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobi-list {
  padding-left: 40px;
  margin-bottom: 284px;
}

.mob-team-icon-fon {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.mobi-tel-link {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobi-tel-list {
  padding-left: 40px;
  margin-top: 40px;
}
.mobi-em-link {
  color: var(--text-color);

  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.mobi-tel-item {
  margin-bottom: 40px;
}
.address-mob {
  margin-bottom: 48px;
  gap: 48px;
}
/****hero***/
.hero {
  background: var(--title-color);
  width: 100%;

  /* max-width: 1440px; */
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-tel-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tel-2x.jpg);
  }
}
.hero-container {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 54px;
  padding-right: 54px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* max-width: 320px; */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
/***criteria****/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.criteria {
  padding-top: 96px;
  padding-bottom: 96px;
}
.criteria-fon {
  /* content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px; */
  display: none;
}
.criteria-item-icon {
  /* display: flex;
  justify-content: center;
  margin: 0 auto; */
  display: none;
}

.criteria-list {
  display: flex;
  flex-wrap: wrap;

  /* padding-left: 0; */
  gap: 72px;
}
.criteria-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.criteria-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  text-align: center;
}
.criteria-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/***question****/
.question {
  padding-bottom: 120px;
  display: none;
}
.question-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  min-width: 323px;
  margin-bottom: 72px;
}
.question-list {
  display: flex;
  gap: 24px;
}
.question-item {
  width: 360px;
}
/***Team ***/
.container-team {
  width: 100%;
  /* max-width: 1158px;  */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.our-team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-container {
  background-color: #f4f4fd;
  max-width: 100%;
  height: auto;
}
.icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.team-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  /* gap: 24px 82px; */
}
.team-item {
  background-color: #ffffff;
  /* width: 264px; */
  max-width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /*padding: 32px 0;*/
}
.team-text {
  padding: 32px 0 32px;
}

.team-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-fon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item-icon {
  fill: #f4f4fd;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item-icon :hover {
}
.team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover {
  background-color: #404bbf;
}
.team-link:focus {
  background-color: #404bbf;
}
/****************customers*******************/
.customers-section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.container-customers {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px 16px;

  /* justify-content: center;
  align-items: center;
  padding-left: 0; */
}
.customers-item {
  max-width: 100%;
  height: 88px;
  width: calc((100% - 16px) / 2);
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--customers-icon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-item-icon {
  fill: currentColor;
}
/****footer***/
.footer {
  padding: 96px 0;
  margin: 0 auto;
  max-width: 100%;
  background: var(--title-color);
}
.footer-container {
  padding: 0;
  min-width: 264px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.footer-icon-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-icon-fon {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
  justify-content: center;
}

/* .footer-container {
  display: flex;
  
  flex-wrap: wrap;
  padding: 96px 16px;
  gap: 72px;
  justify-content: center;
}
.footer-media {
  flex-wrap: wrap;
  align-items: baseline;
  gap: 72px;
}
.footer-logo-p {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background: var(--title-color);
  min-width: 264px;
  padding: 100px 0;
  padding-top: 97px;
  padding-bottom: 96px;
} */
/* .footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .footer-icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
} */
/* .footer-icon-fon {
  display: flex;
  gap: 16px;
} */
.footer-icon-item {
  width: 40px;
  height: 40px;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  width: 264px;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4d5ae5;
  /* font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
  display: inline-block;
  margin-bottom: 16px; */
}
.footer-text {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  width: 264px;
  margin-right: auto;
  margin-left: auto;
}
.footer-icon {
  /*margin-top: 100px;
  margin-right: 692px;
  margin-bottom: 132px;*/
}
.footer-item-icon {
  /*width: 100%;
  height: 100%;*/
  fill: #f4f4fd;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover {
  background-color: #31d0aa;
}
.footer-link:focus {
  background-color: #31d0aa;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn:hover .icon-close-black,
.modal-btn:focus .icon-close-black {
  fill: #ffffff;
}
.icon-close-black {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/********************imgs page*******************/
/*******************buttons****************/
.section-container {
}
.section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.varieties-list {
  display: flex;
  justify-content: center;

  gap: 24px;
  margin-bottom: 72px;
}
.varieties-item {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.varieties-btn {
  font-family: "Roboto", sans-serif;
  background: #f4f4fd;
  font-style: normal;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.varieties-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.varieties-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/********imgs******/
.imgs {
  width: 360px;
}
.imgs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  column-gap: 24px;
  row-gap: 48px;
}
.imgs-item {
  width: calc((100% - 48px) / 3);
  /*position: relative;*/
}
.imgs-item-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.imgs-item-link:hover .imgs-cover-text {
  transform: translateY(0%);
}
.imgs-item-link:focus .imgs-cover-text {
  transform: translateY(0%);
}
.imgs-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.imgs-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.imgs-item-link {
  display: block;
  background: #ffffff;
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-aap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.imgs-cover-text {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-backgrounds);
  background: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.imgs-cover-block {
}
.imgs-overflow {
  position: relative;
  overflow: hidden;
}
/*.imgs-overflow:hover .imgs-cover-text {
  transform: translate(0);
}*/
.modal {
  padding: 72px 24px 24px 24px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  width: 100%;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder,
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
  position: relative;
}
.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--active-links);
}
.modal-check {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /*display: flex;*/
  align-items: center;
}
.modal-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  color: var(--active-links);
  text-decoration: underline;
}
.input-checkbox:checked + .check-text span {
  background-color: var(--cheked);
  border: none;
  fill: var(--light-backgrounds);
}
.icon-check {
}
.send-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover {
  background-color: #404bbf;
}
.send-btn:focus {
  background-color: #404bbf;
}

.footer-input-container {
  width: 100%;
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 16px;
  width: 100%;
}
.footer-email {
  width: 100%;
}
.footer-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 264px; */
  height: 40px;
  border: 1px solid #ffffff;

  padding-left: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}
.subscribe-btn {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  fill: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}
.icon-send {
  fill: #ffffff;
  margin-left: 16px;
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (min-width: 428px) {
  .header-container {
    max-width: 428px;
  }

  .hero-container {
    max-width: 428px;
  }
  .container {
    max-width: 428px;
  }
  .container-team {
    max-width: 428px;
    width: 100%;
  }
  .container-customers {
    max-width: 428px;
  }
  .footer-container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    /* align-items: center; */
  }
  .open-menu-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 0;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-menu-item {
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }

  .header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-links);
    margin-right: 76px;
  }
  .header-menu-list {
  }
  .header-menu-item {
  }
  .header-menu-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-list:hover {
    color: #404bbf;
  }
  .header-menu-list:focus {
    color: #404bbf;
  }
  .header-logo :hover {
    color: var(--active-links);
  }
  .header-logo :focus {
    color: var(--active-links);
  }
  .header-menu-link:hover {
    color: #404bbf;
  }
  .header-menu-link:focus {
    color: #404bbf;
  }
  .address {
    font-style: normal;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
    margin-left: 121px;
  }
  .address-item {
  }
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: #404bbf;
  }
  .address-link:focus {
    color: #404bbf;
  }
  .hero-container {
    max-width: 768px;
    padding-left: 136px;
    padding-right: 136px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-table-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-table-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 86px;
  }
  .container {
    max-width: 768px;
  }

  .criteria {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .criteria-list {
    gap: 72px 24px;
  }
  .criteria-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }
  .criteria-subtitle {
    text-align: left;
  }

  .container-team {
    max-width: 768px;
  }
  img {
    width: 100%;
  }
  .team-list {
    gap: 72px 24px;
  }
  .team-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }

  .container-customers {
    max-width: 584px;
  }
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    max-width: 100%;
    max-width: unset;
    width: calc((100% - 48px) / 3);
  }
  .customers-title {
    justify-content: center;
    align-items: center;
  }
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer > .container {
  }

  .footer-media {
    display: flex;
    max-width: 530px;
    gap: 74px 24px;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .container {
    width: 100%;
  }
  .footer-logo {
    text-align: left;
  }

  .footer-input-container {
    align-items: start;
  }
  .footer-form {
    /* display: flex;
    gap: 24px; */
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-input {
    width: 264px;
  }

  /* .footer-container {
    max-width: 1160px;
    display: flex;
    align-items: baseline;
  }
  .footer-logo-p {
    margin-right: 120px;
  }

  .footer-input-container {
    margin-left: 80px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;

    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  } */
}
@media screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    /* align-items: 
    center; */
  }
  .open-menu-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-menu-item {
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }

  .header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-links);
    margin-right: 76px;
  }
  .header-menu-list {
  }
  .header-menu-item {
  }
  .header-menu-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-list:hover {
    color: #404bbf;
  }
  .header-menu-list:focus {
    color: #404bbf;
  }
  .header-logo :hover {
    color: var(--active-links);
  }
  .header-logo :focus {
    color: var(--active-links);
  }
  .header-menu-link:hover {
    color: #404bbf;
  }
  .header-menu-link:focus {
    color: #404bbf;
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
    display: flex;
  }
  .address-item {
  }
  .address-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

    color: var(--subtitle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover {
    color: #404bbf;
  }
  .address-link:focus {
    color: #404bbf;
  }
  .hero-container {
    max-width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desk-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 86px;
    max-width: 496px;
  }

  .container {
    max-width: 1158px;
  }
  .criteria {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .criteria-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }
  .criteria-list {
    gap: 24px;
    padding-left: 0;
  }
  .criteria-item-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .criteria-fon {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .question {
    padding-bottom: 120px;
    display: block;
  }
  .question-title {
    text-transform: capitalize;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    min-width: 323px;
    margin-bottom: 72px;
  }
  .question-list {
    display: flex;
    gap: 24px;
  }
  .question-item {
    width: 360px;
  }

  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-team {
    max-width: 1158px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-customers {
    max-width: 1160px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
  }

  .customers-item {
    max-width: unset;
    width: calc((100% - 120px) / 6);
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .our-team > .container,
  .customers-section > .container,
  .footer > .container {
    width: unset;
  }
  .footer-media {
    gap: unset;
  }
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    flex-wrap: nowrap;
  }
  .footer-container {
    min-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-icon-fon {
    margin-bottom: 0;
  }

  .footer-input-container {
    margin-left: 80px;
  }
  .subscribe-text {
    margin-right: auto;
  }
}

/* .footer-container {
    max-width: 1160px;
    display: flex;
    align-items: baseline;
  }
  .footer-logo-p {
    margin-right: 120px;
  }
  .footer {
    background: var(--title-color);
     min-width: 264px;
    padding: 100px 0;
  }
  .footer-input-container {
    margin-left: 80px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;

    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }  */
